<template>
  <div class="hello centered">
      <div class="jumbotron jumbotron-fluid centered">
  <div class="container">
    <h1 class="display-3">Create a new Category</h1>
    <form>
  <div class="form-group">
    <label class="form-control-label" for="Name">Name</label>
    <input type="text" class="form-control" id="Name" v-model="CategoryName" placeholder="Name...">
  </div>
  <br><button v-on:click="postData()" type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>
</div>
</div>
  </div>
</template>

<script>
global.jQuery = require('jquery')
var $ = global.jQuery
window.$ = $
var qs = require('qs')

export default {
  name: 'CategoryCreate',
  data () {
    return {
      categories: null,
      CategoryName: null
    }
  },
  mounted () {
    // get group id from current page
    this.fetchData()
  },
  methods: {
    fetchData: function () {
      var self = this
      $.get('http://127.0.0.1:8080/BakeIt/cms/api/categories.json', function (data) {
        self.categories = data
      })
    },
    postData: function () {
      var self = this
      fetch('http://127.0.0.1:8080/BakeIt/cms/api/categories', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: qs.stringify({
          title: self.CategoryName
        })
      })
      this.$router.push('categories')
    }
  }
}
</script>