<template>
  <div class="hello">
      <div class="jumbotron jumbotron-fluid centered">
  <div class="container">
    <h1 class="display-3">Categories</h1>
    <p class="lead">Check out our categories!</p>
    <router-link to="/categorycreate">
    <a class="btn btn-success" href="#" role="button">Add</a>
  </router-link>
  </div>
</div>
    <table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="item in items.categories">
      <th scope="row">{{item.id}}</th>
      <td>{{item.title}}</td>
      <td><router-link :to="{ name: 'Category', params: { id: item.id }}"><button type="button" class="btn btn-primary">Show</button></router-link></td>
    </tr>
  </tbody>
</table>
  </div>
</template>

<script>
global.jQuery = require('jquery')
var $ = global.jQuery
window.$ = $

export default {
  name: 'Categories',
  data () {
    return {
      items: null
    }
  },

  created: function () {
    this.fetchData()
  },

  methods: {
    fetchData: function () {
      var self = this
      $.get('http://127.0.0.1:8080/BakeIt/cms/api/categories.json', function (data) {
        self.items = data
      })
    }
  }
}
</script>