<template>
  <div class="hello centered">
      <div class="jumbotron jumbotron-fluid centered">
  <div class="container">
    <p class="lead">Category:</p>
    <h1 class="display-3">{{items.category.title}}</h1>
    <router-link :to="{ name: 'CategoryEdit', params: { id: items.category.id }}"><button type="button" class="btn btn-primary">Edit</button></router-link>
  </div>
  <div class="card centered" style="width: 20rem;" v-for="item in items.category.recipes">
  <div class="card-body">
    <h4 class="card-title">{{item.name}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">Duration: {{item.duration}} Min.</h6>
    <p class="card-text"><strong>Ingredients:</strong> {{item.ingredients}}<br>
    <strong>Steps:</strong> {{item.steps}}</p>
    <router-link :to="{ name: 'Recipe', params: { id: item.id }}"><a href="#" class="card-link">Show</a></router-link>
  </div>
</div>
</div>
  </div>
</template>

<script>
global.jQuery = require('jquery')
var $ = global.jQuery
window.$ = $

export default {
  name: 'Category',
  data () {
    return {
      items: null
    }
  },
  mounted () {
    // get group id from current page
    this.categoryId = this.$route.params.id
    this.fetchData()
  },
  methods: {
    fetchData: function () {
      var self = this
      $.get('http://127.0.0.1:8080/BakeIt/cms/api/categories/' + self.categoryId + '.json', function (data) {
        self.items = data
      })
    }
  }
}
</script>