<template>
  <div class="hello centered">
    <div class="jumbotron">
  <h1 class="display-3">Welcome to BakeIt!</h1>
  <p class="lead">Get all the best recipes in one place!</p>
  <hr class="my-4">
  <p>Explore our recipes or add new ones!</p>
  <p class="lead">
  </p>
</div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
    }
  }
}
</script>

