<template>
  <div class="hello">
      <div class="jumbotron jumbotron-fluid centered">
  <div class="container">
    <h1 class="display-3">Recipes</h1>
    <p class="lead">Check out our recipes!</p>
    <router-link to="/recipecreate">
    <a class="btn btn-success" href="#" role="button">Add</a>
  </router-link>
  </div>
</div>
    <table class="table table-striped">
  <thead><tr>
      <th>#</th>
      <th>Title</th>
      <th>Category</th>
      <th>Duration</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="item in items.recipes">
      <th scope="row">{{item.id}}</th>
      <td>{{item.name}}</td>
      <td>{{item.category.title}}</td>
      <td>{{item.duration}}</td>
      <td><router-link :to="{ name: 'Recipe', params: { id: item.id }}"><button type="button" class="btn btn-primary">Show</button></router-link></td>
    </tr>
  </tbody>
</table>
  </div>
</template>

<script>
global.jQuery = require('jquery')
var $ = global.jQuery
window.$ = $

export default {
  name: 'Recipes',
  data () {
    return {
      items: null
    }
  },

  created: function () {
    this.fetchData()
  },

  methods: {
    fetchData: function () {
      var self = this
      $.get('http://127.0.0.1:8080/BakeIt/cms/api/recipes.json', function (data) {
        self.items = data
      })
    }
  }
}
</script>