<template>
  <div class="hello centered">
      <div class="jumbotron jumbotron-fluid centered">
  <div class="container">
    <h1 class="display-3">Add a new recipe</h1>
    <form>
        <div class="form-group">
    <label for="Category">Category</label>
    <select class="form-control" id="Category" v-model="Category">
      <option v-for="item in categories.categories" v-bind:value="item.id">{{item.title}}</option>
    </select>
  </div>
  <div class="form-group">
    <label class="form-control-label" for="Name">Name</label>
    <input type="text" class="form-control" id="Name" placeholder="Name..." v-model="Name">
  </div>
  <div class="form-group">
    <label for="Steps">Steps</label>
    <textarea class="form-control" id="Steps" rows="3" v-model="Steps">Steps</textarea>
  </div>
  <div class="form-group">
    <label for="Ingredients">Ingredients</label>
    <textarea class="form-control" id="Ingredients" rows="3" v-model="Ingredients">Ingredients</textarea>
  </div>
  <div class="form-group">
    <label for="Duration">Duration (in minutes)</label>
    <textarea class="form-control" id="Duration" rows="3" v-model="Duration">Duration (in minutes)</textarea>
  </div>
  <div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="Hidden" value="Hidden" v-model="Hidden">Hidden</label>
</div>
  <br><button v-on:click="postData()" type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>
</div>
</div>
  </div>
</template>

<script>
global.jQuery = require('jquery')
var $ = global.jQuery
window.$ = $
var qs = require('qs')

export default {
  name: 'RecipeCreate',
  data () {
    return {
      categories: null,
      Category: null,
      Name: null,
      Steps: null,
      Ingredients: null,
      Duration: null,
      Hidden: 0
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    fetchData: function () {
      var self = this
      $.get('http://127.0.0.1:8080/BakeIt/cms/api/categories.json', function (data) {
        self.categories = data
      })
    },
    postData: function () {
      var self = this
      if (self.Hidden === true) {
        self.Hidden = 1
      } else {
        self.Hidden = 0
      }
      fetch('http://127.0.0.1:8080/BakeIt/cms/api/recipes', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: qs.stringify({
          category_id: self.Category,
          name: self.Name,
          steps: self.Steps,
          ingredients: self.Ingredients,
          duration: self.Duration,
          hidden: self.Hidden
        })
      })
      this.$router.push('/recipes')
    }
  }
}
</script>