<template>
  <div class="hello">
      <div class="jumbotron jumbotron-fluid centered">
  <div class="container">
    <p class="lead">Recipe:</p>
    <h1 class="display-3">{{items.recipe.name}}</h1>
  </div>
  <div class="card" style="width: 100%;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Duration: {{items.recipe.duration}} Min.</h6>
    <router-link :to="{ name: 'Category', params: { id: items.recipe.category.id }}"><a href="#" class="card-link">{{items.recipe.category.title}}</a></router-link>
    <p class="card-text"><strong>Ingredients:</strong> {{items.recipe.ingredients}}<br>
    <strong>Steps:</strong> {{items.recipe.steps}}</p>
    <router-link :to="{ name: 'RecipeEdit', params: { id: items.recipe.id }}"><a href="#" class="card-link">Edit</a></router-link>
    <a href="#" class="card-link" v-on:click="Delete()">Delete</a>
  </div>
</div>
</div>
  </div>
</template>

<script>
global.jQuery = require('jquery')
var $ = global.jQuery
window.$ = $

export default {
  name: 'Category',
  data () {
    return {
      items: null
    }
  },
  mounted () {
    // get group id from current page
    this.recipeId = this.$route.params.id
    this.fetchData()
  },
  methods: {
    fetchData: function () {
      var self = this
      $.get('http://127.0.0.1:8080/BakeIt/cms/api/recipes/' + self.recipeId + '.json', function (data) {
        self.items = data
      })
    },
    Delete: function () {
      var self = this
      fetch('http://127.0.0.1:8080/BakeIt/cms/api/recipes/' + self.recipeId, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        }
      })
      this.$router.push('/recipes')
    }
  }
}
</script>