<template>
  <div id="app">
    <div class="centered">
    <router-link to="/">
    <a class="btn btn-danger" href="#" role="button">Home</a>
  </router-link>
  <router-link to="/recipes">
    <a class="btn btn-primary" href="#" role="button">Recipes</a>
  </router-link>
  <router-link to="/categories">
    <a class="btn btn-primary" href="#" role="button">Categories</a>
  </router-link>
    </div>
    <router-view/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 60px;
}
.centered {
  text-align: center;
}
</style>
